<!-- Main container -->
<div class="main-container">
  <!-- Main contant section -->

  <div class="main-contant-section">
    <select class="user_profile_lang" name="user_profile_lang">
      <option class="lang-en" value="0">eng</option>
      <option class="lang-ru" value="1">рус</option>
    </select>
    <div class="main-contant-section-js"></div>
  </div>
  <!-- Sidebar sections -->
  <aside class="sidebar-section">
    <picture>
      <source
        srcset="./img/photo@x1.webp 1x, ./img/photo@x2.webp 2x"
        type="image/webp"
      />
      <source srcset="./img/photo@x1.jpg 1x, ./img/photo@x2.jpg 2x" />

      <img src="./img/photo@1x.jpg" alt="My photo" width="370" height="354" />
    </picture>

    <!-- Contacts section -->
    <div class="contacts-section">
      <h2 class="sidebar-title">Контакты</h2>
      <div>
        <a class="contacts-section-link" href="tel:+380688906698"
          ><svg class="contacts-section-ico" width="20" height="20">
            <use href="./img/icons.svg#mobile"></use></svg
          >+38 068 890 66 98</a
        >
      </div>
      <div>
        <a class="contacts-section-link" href="mailto:wolk8506@gmail.com"
          ><svg class="contacts-section-ico" width="20" height="15">
            <use href="./img/icons.svg#mail"></use></svg
          >wolk8506@gmail.com</a
        >
      </div>
      <ul class="contacts-section-soclal">
        <li class="contacts-section-item">
          <a
            class="contacts-section-link"
            href="https://www.linkedin.com/in/yuriy-krasyukov/"
            rel="noopener noreferrer"
            target="_blank"
            aria-label="linkedin"
            ><svg class="contacts-section-ico" width="20" height="20">
              <use href="./img/icons.svg#linkedin"></use></svg
          ></a>
        </li>
        <li class="contacts-section-item">
          <a
            class="contacts-section-link"
            href="https://github.com/wolk8506/"
            rel="noopener noreferrer"
            target="_blank"
            aria-label="github"
            ><svg class="contacts-section-ico" width="20" height="20">
              <use href="./img/icons.svg#github"></use></svg
          ></a>
        </li>
        <li class="contacts-section-item">
          <a
            class="contacts-section-link"
            href="https://www.facebook.com/yuriy.krasyukov/"
            rel="noopener noreferrer"
            target="_blank"
            aria-label="facebook"
            ><svg class="contacts-section-ico" width="20" height="20">
              <use href="./img/icons.svg#facebook"></use></svg
          ></a>
        </li>
        <li class="contacts-section-item">
          <a
            class="contacts-section-link"
            href="https://t.me/wolk8506/"
            rel="noopener noreferrer"
            target="_blank"
            aria-label="telegram"
            ><svg class="contacts-section-ico" width="20" height="20">
              <use href="./img/icons.svg#telegram2"></use></svg
          ></a>
        </li>
        <li class="contacts-section-item">
          <a
            class="contacts-section-link"
            href="https://join.skype.com/invite/JlBJeLF5ubji"
            rel="noopener noreferrer"
            target="_blank"
            aria-label="telegram"
            ><svg class="contacts-section-ico" width="20" height="20">
              <use href="./img/icons.svg#skype"></use></svg
          ></a>
        </li>
      </ul>
    </div>
    <!-- Tech skills section -->
    <div class="skills"></div>
  </aside>
</div>
